$color-primary: #FF8800;
$color-accent: #ffc800;
$color-warn: #f44336;
$color-cashback: #2a8000;
$color-indication: #00aaff;
$color-secondary: blueviolet;
$color-button-primary: #30b943;
$color-dark: #404040;
$color-main-text: #444444;