/* Buttons */
.btn {
    background-color: #FF8800;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #FFA726;
}

@media screen and (max-width: 600px) {
    .btn {
        margin: auto;
        border-radius: 50px;
        width: max-content;
    }
}