.content {
    flex: 1;
    // margin-right: 20px;
    min-width: 350px;
}

.content-main-box {
    max-width: 450px;
}

.image-container {
    flex: 1;
    text-align: center;
    min-width: 350px;
}

.image-container img {
    // max-width: 100%;
    height: auto;
    width: 350px;
}



@media screen and (max-width: 600px) {
    .content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-container {
        text-align: center;
    }
}