/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    color: #fff;
    padding: 10px 20px;
    // width: 100%;
}

.logo img {
    height: 50px;
}

.menu-container {
    display: flex;
    align-items: center;
    
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red;
}

.menu-toggle.hidden {
    display: none;
}

.menu {
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .navbar{
        height: max-content;
    }

    .logo img {
        height: 40px;
    }
    
    .menu-toggle {
        display: block;
    }

    .menu {
        visibility: hidden; 
        max-height: 0;
    }

    .menu-container {
        display: flex;
        background-color: green;
    }

    .menu.active {
        opacity: 1;               
        visibility: visible;     
        transition: opacity 0.3s ease, visibility 0s linear; 
        max-height: 200px;
    }

    .menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul li {
        margin: 10px 0;
    }
}